<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.marksixinfo">

    <!-- 适配全面屏手机 -->
    <meta-data
        android:name="android.max_aect"
        android:value="2.4" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 如果需要使用QQ纯图分享或避免其它平台纯图分享的时候图片不被压缩，可以增加以下权限： -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->

    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK和更精准的统计数据 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> -->

    <meta-data
        android:name="com.marksixinfo.widgets.glide.OkHttpGlideModule"
        android:value="AppGlideModule" />
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="5c95d7ed61f564f5e90009d0" />
    <meta-data
        android:name="UMENG_MESSAGE_SECRET"
        android:value="35f68cc52bf073e7e75d8fa837d8f69e" />

    <application
        android:name=".MarkSixApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!-- 配置 Bugly -->
    <!--    <meta-data
            android:name="BUGLY_APPID"
            android:value="5e01abe88f" />-->
        <!-- 配置APP版本号 -->
        <!--
            <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="<APP_Version>" />
        &lt;!&ndash; 配置APP渠道号 &ndash;&gt;
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="<APP_Channel>" />
        -->
        <!-- 配置Bugly调试模式（true或者false） -->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="true" />

        <!-- Bugly升级SDK配置开始 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!-- API 24以上配置 -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Bugly升级SDK配置结束 -->
        <activity
            android:name=".ui.activity.StartActivity"
            android:theme="@style/WelcomeStyle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- H5调起 -->
                <data
                    android:host=""
                    android:scheme="lhtt" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="首页"
            android:theme="@style/MainHomeStyle"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MainActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:label="搜索"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/SearchActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReleaseActivity"
            android:label="头条发布"
            android:theme="@style/ReleaseTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/ReleaseActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailActivity"
            android:label="帖子详情"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/DetailActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SelectClassifyActivity"
            android:label="选择分类"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/SelectClassifyActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="登录"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/LoginActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="注册"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/RegisterActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.UserPostCenterActivity"
            android:label="他人详情页"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/UserPostCenterActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CommentListActivity"
            android:label="回复列表页"
            android:theme="@style/CommentStyle"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/CommentListActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="个人设置页"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/SettingActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MineCommentActivity"
            android:label="个人中心,我的回复">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MineCommentActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MineConcernActivity"
            android:label="个人中心,我的关注">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MineConcernActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MineCollectActivity"
            android:label="个人中心,我的收藏">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MineCollectActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MineHeadlineActivity"
            android:label="个人中心,我的头条">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MineHeadlineActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ForumDetailActivity"
            android:label="论坛帖子详情"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/ForumDetailActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ForumReleaseActivity"
            android:label="论坛帖子发布"
            android:theme="@style/ReleaseTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/ForumReleaseActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ForumUserActivity"
            android:label="论坛用户中心">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/ForumUserActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MineInvitationActivity"
            android:label="论坛,我的帖子">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MineInvitationActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:label="webView"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/WebViewActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ForgetPassWordActivity"
            android:label="忘记密码"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/ForgetPassWordActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TaskCenterActivity"
            android:label="任务中心"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/TaskCenterActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WithdrawDepositActivity"
            android:label="提现兑换"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/WithdrawDepositActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.IncomeRecordActivity"
            android:label="收益记录">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/IncomeRecordActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.InviteFriendsActivity"
            android:label="邀请好友">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/InviteFriendsActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FriendsListActivity"
            android:label="好友列表">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/FriendsListActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MineConcernAndFansActivity"
            android:label="我的关注与粉丝">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MineConcernAndFansActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MineConcernAndHistoryActivity"
            android:label="我的收藏/评论/点赞/历史">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MineConcernAndHistoryActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MessageNotificationActivity"
            android:label="消息通知">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/MessageNotificationActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:label="用户反馈"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/FeedbackActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:label="修改密码"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/ChangePasswordActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GallerySearchActivity"
            android:label="图库搜索"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/GallerySearchActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GalleryDetailActivity"
            android:label="图库详情"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/GalleryDetailActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GalleryExplainReleaseActivity"
            android:label="图解发布"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/GalleryExplainReleaseActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GalleryExplainDetailActivity"
            android:label="图解详情"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/GalleryExplainDetailActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>

        <service android:name=".service.GalleryDataService" />
        <service android:name=".service.WebSocketService" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1108873890" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".base.ImagePreviewActivity"
            android:theme="@style/Theme.ImagePreview" />

        <!-- 图解小组 -->

        <activity
            android:name=".ui.activity.GraphicListActivity"
            android:label="图解小组">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/GraphicListActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SearchUserListActivity"
            android:label="头条搜索更多用户">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/SearchUserListActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.StandbyDomainActivity"
            android:label="备用域名编辑"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/StandbyDomainActivity"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>